<div class="p-5 mt-5 shadow bg-white rounded justify-content-center">
  <%= simple_form_for @list do |f| %>
    <%= f.input :name %>
    <%= f.input :picture_url %>
    <%= f.input :photo, as: :file %>
    <%= f.submit %>
  <% end %>
</div>
