<%= render 'navbar' %>
<div class="home-banner">
  <h1>Welcome to the Movie Lists</h1>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="row row-cols-1 row-cols-md-3 mt-3">
    <% @lists.each do |list| %>
    <div class="col-md-4 mb-4">
      <div class="card h-100 img-thumbnail mb-2" style="">
          <img class="card-img-top img-thumbnail" src="<%=list.picture_url%>">
        <div class="card-body">
          <div class="card-title"><h5><%= list.name%></h5></div>
          <%= link_to 'View', list_path(list) , class: "flat-info btn btn-outline-primary btn-sm" %>
          <%= link_to 'Remove', list_path(list), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-primary btn-sm" %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  </div>
</div>
