<%= render 'navbar' %>


<div class="p-5 mt-5 shadow bg-white rounded justify-content-center">
  <h1 class="text-center"><%= @list.name %></h1>
  <button type="button" class="text-end btn btn-primary" data-bs-toggle="modal" data-bs-target="#new_movie_modal">
        Add Movie
  </button>
  <%= render "bookmarks/new", list: @list %>
  <div class="row row-cols-1 row-cols-md-3 mt-3">
    <% @list.bookmarks.each do |bookmark| %>
    <div class="col-md-4 mb-4">
      <div class="shadow card h-100 img-thumbnail mb-2" style="">
        <img class="card-img img-thumbnail" src="<%=bookmark.movie.poster_url%>">
        <div class="card-body">
        <h4 class="fw-bolder"><%= bookmark.movie.title %></h4><h5 class="fw-light"><%= bookmark.movie.rating %> ⭐️</h5>
        <p class="card-text fw-lighter"><%= bookmark.movie.overview %></p>
        <hr>
        <small><em class="text-muted">Review:<br><%= bookmark.comment %></em></small>
        </div>
        <%= link_to 'Remove', bookmark_path(bookmark), method: :delete, data: { confirm: 'Are you sure?' }, class: "remove-button" %>
      </div>
    </div>
    <% end %>
  </div>

  <hr class="my-5">

  <div class="row">
    <div class="shadow p-5 col-12 col-sm-6">
      <h3>Reviews</h3>
      <% @list.reviews.each do |review| %>
        <div>
        <p><%= '⭐️' * review.rating %></p>
          <small><em class="text-muted"><%= distance_of_time_in_words_to_now(review.created_at) %> ago</em></small>
          <p class="mb-0"><%= review.comment %></p>
        </div>
        <hr>
      <% end %>
    </div>
    <div class="col-12 col-sm-6">
      <div class="bg-white rounded p-3">
      <h5>Add your review</h5>
      <%= simple_form_for [@list, @review] do |f| %>
        <%= f.input :comment, placeholder: "Add your review here..." %>
        <%= f.input :rating, as: :select, collection: (1..5), required: true, prompt: "What's your rating", input_html: { data: { controller: "jquery-bar-rating" } } %>
        <%= f.submit class:"btn btn-success" %>
      <% end %>
      </div>
    </div>
  </div>
  <%= link_to 'Back', lists_path, class: 'btn btn-primary mt-3' %>
</div>
