<%= render 'navbar' %>
<div class="p-5 mt-5 shadow bg-white rounded justify-content-center">
  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.association :movie, placeholder: "Search....", input_html: {data: {controller: 'select2', select2_options_value: {tags: true}}} %>
    <%= f.input :comment %>
    <%= link_to 'Back', list_path(@list), class: 'btn btn-primary' %>
    <%= f.button :submit, class: 'btn btn-primary'%>
  <% end %>


</div>
