<div class="p-5 mt-5 shadow bg-white rounded justify-content-center">
  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.association :movie, collection: Movie.all.order(:title), prompt: "Select a movie", input_html: {data: {controller: 'select2', select2_options_value: {tags: true}}} %>
    <%= f.input :comment %>
    <%= f.button :submit, "Add Movie", class: 'btn btn-primary'%>
  <% end %>
  <%= link_to 'Back', lists_path, class: 'btn btn-primary mt-3' %>
</div>
